body {
    margin: 0px;
    background-color: #007BBA;
    font-family: Roboto;
}

header {
    background-color: #006BA2;
}

a {
    text-decoration: none;
}



#menu {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: #E2E4E6;
    width: 200px;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="search"] {
    background-color: #4797B8; /* Green */
    color: white;
    padding: 6px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.btn-tablero {
    border: none;
    background-color: #4797B8;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.icons {
    border-radius: 4px;
    background-color: #4797B8;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}





