body {
    margin: 0px;
    background-color: #007BBA;
    font-family: Roboto;
}

header {
    background-color: #006BA2;
}

a {
    text-decoration: none;
}

input[type="button"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="text"] {
    height: 30px;
    width: 190px;
    font-size: 16px;
    margin: 13px 7px;
    outline: none;
}

input[type="search"] {
    background-color: #4797B8; 
    color: white;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-style: none;
    border-radius: 4px;
}


#menu {
    display: flex;
    flex-wrap: wrap;

}

#menu-left {
    margin-left: 5px;
    padding-top: 7px;
}


#menu-right {
    margin-left: 350px;
    padding-top: 17px;
}


#icon-center {
    margin-left: 300px;
    padding-top: 7px;
    
}

.btn-tablero {
    border: none;
    background-color: #4797B8;
    color: white;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.delete {
    border: none;
    background-color: #4797B8;
    color: white;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.icons {
    border-radius: 4px;
    background-color: #4797B8;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.icon-user {
    border-radius: 90%;
    background-color: #CDD2D4;
    color: gray;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;


}

.tarjeta {
    background-color: #E2E4E6;
    width: 210px;
    border-radius: 4px;
}

.tablero-content {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
 
}

#tablero {
    margin-left: 10px;
    margin-top: 10px;
}

#messages {
    margin-left: 15px;

}



